---

---
<!--  Replace menu links here -->
<li class="nav-item">
<a class="nav-link" href="{{ 'index.html' | relative_url }}">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{ 'newsletters.html' | relative_url }}">Newsletters</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{ 'local-issues.html' | relative_url }}">Local Issues</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/themes/mundana-wordpress/">Resourses</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/themes/mundana-ghost/">Events</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="{{'about-us.html' | relative_url }}">About Us</a>
</li>